@model Bank_transection_using_crud.Models.Transection

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Transectionid" />
            <div class="form-group">
                <label asp-for="Accountnumber" class="control-label"></label>
                <input asp-for="Accountnumber" class="form-control" />
                <span asp-validation-for="Accountnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiaryname" class="control-label"></label>
                <input asp-for="Beneficiaryname" class="form-control" />
                <span asp-validation-for="Beneficiaryname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bankname" class="control-label"></label>
                <input asp-for="Bankname" class="form-control" />
                <span asp-validation-for="Bankname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Swiftcode" class="control-label"></label>
                <input asp-for="Swiftcode" class="form-control" />
                <span asp-validation-for="Swiftcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
